/* body {
	margin-left: 8%;
	margin-top: 5%;
} */

#main-div {
	width: 100vw;
	height: 54vh;
	display: flex;
}

.title {
	position: absolute;
	height: 10%;
	left: 10%;
	top: 10%;
	font-family: "Open Sans";
	font-size: 72px;
	line-height: 79px;
	display: flex;
	align-items: flex-end;
	color: #373a3c;
}

#insideText {
	position: absolute;
	height: 24px;
	left: 10%;
	top: 26%;
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 24px;
	color: #373a3c;
	display: flex;
	align-items: flex-end;
}

input {
	position: absolute;
	width: 86px;
	height: 38px;
	left: 23%;
	top: 25%;
	background: #ffffff;
	border: 1px solid black;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 24px;
}

p {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin: 0;
}

#executeFib {
	position: absolute;
	width: 39px;
	height: 38px;
	left: 29.5%;
	top: 25%;
	background: #0275d8;
	border: 1px solid #0275d8;
	box-sizing: border-box;
	border-radius: 4px;
}

.light-pink {
	position: absolute;
	left: 17%;
	top: 31%;
	width: 180px;
	height: 33px;
	background: #f2dede;
	border: 1px solid #ebcccc;
	border-radius: 4px;
	font-family: "Open Sans";
	font-size: 16px;
	color: #a94442;
}

#fiboLoader {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 32.5%;
	top: 25.5%;
	background-color: white;
}

.over-fifty {
	border: 1px solid #d9534f;
	color: #d9534f;
}

#fiboLoader,
#secondNumber {
	display: none;
}

#secondNumber {
	top: 26.5%;
	left: 32%;
	position: absolute;
	margin-left: 1%;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: flex-end;
	text-decoration-line: underline;
	color: #373a3c;
}

.result-title {
	display: block;
	position: absolute;
	top: 40%;
	left: 10%;
	font-size: 40px;
	width: 182px;
	height: 72px;
	font-family: "Open Sans";
	font-size: 54px;
	line-height: 72px;
}

#resultList {
	position: absolute;
	width: 1088px;
	height: 24px;
	font-family: "Open Sans";
	font-size: 20px;
	line-height: 24px;
	color: #373a3c;
	line-height: 50px;
	left: 10%;
}

.bold {
	font-weight: bold;
}

.whole-checkbox {
	position: absolute;
	display: flex;
	flex-direction: column-reverse;
	top: 30%;
	left: 9%;
	width: 335px;
	height: 40px;
}

#checkbox {
	width: 10px;
	top: 16%;
	left: 12%;
}

.error-message {
	color: #d9534f;
}

.checkbox-text {
	position: absolute;
	left: 12%;
}

hr {
	border: 1px solid #000000;
	width: 85%;
	margin-left: 0;
}
/* 
.block {
	display: block;
} */
