/* body {
	margin-left: 8%;
	margin-top: 5%;
} */

#main-div {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.title {
	position: absolute;
	height: 10%;
	left: 10%;
	top: 10%;
	font-family: "Open Sans";
	font-size: 72px;
	line-height: 79px;
	display: flex;
	align-items: flex-end;
	color: #373a3c;
}

#insideText {
	position: absolute;
	height: 24px;
	left: 10%;
	top: 26%;
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 24px;
	color: #373a3c;
	display: flex;
	align-items: flex-end;
}

input {
	position: absolute;
	width: 86px;
	height: 38px;
	left: 23%;
	top: 25%;
	background: #ffffff;
	border: 1px solid #d9534f;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 24px;
}

p {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin: 0;
}

#executeFib {
	position: absolute;
	width: 39px;
	height: 38px;
	left: 29.5%;
	top: 25%;
	background: #0275d8;
	border: 1px solid #0275d8;
	box-sizing: border-box;
	border-radius: 4px;
}

.light-pink {
	position: absolute;
	left: 17%;
	top: 31%;
	width: 180px;
	height: 33px;
	background: #f2dede;
	border: 1px solid #ebcccc;
	border-radius: 4px;
	font-family: "Open Sans";
	font-size: 16px;
	color: #a94442;
}

#fiboLoader {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 40%;
	top: 29.5%;
}

.color-fifty {
}

#fiboLoader,
#secondNumber {
	display: none;
}

#secondNumber {
	margin-left: 1%;
}